<div class="panel panel-default">
    <div class="panel-heading">Coinflip History</div>
    <div class="panel-body">
        {pagination_ajax(string("/admin/coinflip/ajaxhistory/", $userID))}
    </div>
</div>