/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    height: 100%;
}

body {
    font-family: 'Titillium Web', Arial, sans-serif;
    height: 100%;
    background: url(../Image/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: scroll !important;
    padding-right: 0 !important;
}

h1 {
    color: #ffcc00;
}

a {
    color: #ffcc00;
}

a:hover {
    color: #ffcc00;
    text-decoration: none;
    transition: 0.5s;
}

table td, table th {
    color: white;
}

input, textarea {
    outline-width: 0 !important;
}

table.table.table-borderless td {
    border: 0;
}

table.table.table-borderless td {
    border: 0;
}

table.table.table-vertical td {
    vertical-align: middle;
}

table.table-bordered td {
    border-color: #ffcc00;
}

@media (min-width: 576px) {
     .modal-dialog {
         max-width: 730px !important;
     }
}

.border-right{
    border-right: 2px solid #606060 !important;
}

.border-left{
    border-left: 2px solid #606060 !important;
}

.color-white {
    color: white;
}

.color-yellow {
    color: #ffcc00;
}

.text-yellow-gradient{
    background: -webkit-linear-gradient(#9B8307, #F5DB02);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-green-gradient {
    background: -webkit-linear-gradient(#a9f841, #48f861);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-yellow-gradient {
    width: 220px;
    height: 50px;
    margin: 0 auto;
    color: #262626;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 20px rgba(255,255,255,0.3);
    font-weight: bold;
    transform: scale(.95);
    cursor: pointer;
    -webkit-user-select: none;
    overflow: hidden;
    background-image: linear-gradient(to right, #F5DB02 , #9B8307);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(245, 219, 2, 0.5);
    transition: all 0.5s ease-out
}

.button-green-gradient {
    height: 50px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 20px rgba(255,255,255,0.3);
    font-weight: bold;
    margin: 0px -10px;
    transform: scale(.77);
    cursor: pointer;
    -webkit-user-select: none;
    overflow: hidden;
    background-image: linear-gradient(to right, #364e36 , #3e9a4f);
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(62, 154, 79, 0.5);
    transition: all 0.5s ease-out
}

.button-yellow-gradient:active {
    background-image: linear-gradient(to right, #9B8307 , #F5DB02);
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
    transform: scale(1.05);
    box-shadow: 0 0 75px rgba(245, 219, 2, 0.5);
}

.button-green-gradient:active {
    background-image: linear-gradient(to right, #3e9a4f , #364e36);
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
    transform: scale(.87);
    box-shadow: 0 0 75px rgba(62, 154, 79, 0.5);
}

.button-yellow-gradient:hover {
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
    transform: scale(1);
}
.button-green-gradient:hover {
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
    transform: scale(.87);
}

.button-yellow-gradient:after,
.button-green-gradient:after {
    content: "";
    position: relative;
    top: -120px;
    left: -90px;
    display: block;
    width: 35px;
    height: 150px;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(35deg);
    -webkit-filter: blur(20px);
    transition: none;
}

.button-yellow-gradient:hover:after,
.button-green-gradient:hover:after{
    left: 400px;
    transition: .3s ease-in-out;
}

.button-yellow-gradient span,
.button-green-gradient span{
    margin-right: -20px;
    letter-spacing: 20px;
}

.button-yellow-gradient a{color: #262626}
.button-yellow-gradient a:hover, .button-yellow-gradient a:after{color: #fff}

.input-control {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 6px;
    line-height: 35px;
    border: 2px solid #ffcc00;
    color: white;
    background-color: #111;
}

.pagination .page-link {
    background-color: #0b0b0b !important;
    color: white !important;
    border-color: white !important;
    border-width: 0;
}

.pagination .page-link:hover {
    color: #ffcc00 !important;
}

.pagination .page-item.disabled .page-link:hover {
    color: white !important;
}

.center-block {
    text-align: center;
    display: flex!important;
    width: 100%;
}

.container-fluid {
    height: 100%;
}

.container-fluid > .row {
    height: 100%;
}

.yellow {
    color: #ffcc00;
}

.nav-item {
    text-transform: uppercase;
}

.bg-dark {
    background-color: #0b0b0b !important;
}

.nav-link {
    padding: 2.5rem 1rem;
}

.navbar-dark .navbar-nav .active > .nav-link::after {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin: 1.5rem 0.5rem;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link::after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 1px;
    width: 0;
    background-color: #ffcc00;
    transition: width 0.2s;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar {
    background: #292929;
    box-shadow: 0px 0px 20px #606060;
}

.navbar .user {
    line-height: 0.9;
}

.navbar .user > * {
    float: left;
    margin-left: 10px;
}

.navbar .user a {
    color: white;
}

.navbar .user .avatar {
    width: 46px;
    height: 46px;
}

.navbar .user .profile {
    color: white;
    margin-right: 20px;
}

#info-box > div {
    display: flex;
}

#info-box ul {
    color: #fff;
    line-height: 0.9;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

#info-box .value {
    font-size: 3em;
}

#info-box li {
    margin: 11px 20px;
    text-align: center;
    text-transform: uppercase;
}

#activity-stream {
    background-color: #242323;
    height: 87px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

#activity-stream .activity {
    position: relative;
    border-right: solid #ffcc00 1px;
    width: 150px;
    height: 77px;
    padding: 0 25px;
    display: inline-block;
}

#activity-stream .activity div {
    position: absolute;
}

#activity-stream .activity .avatar {
    width: 24px;
    height: 24px;
    border-left: 2px solid #4673b3;
    border-top: 2px solid #a02fe0;
    border-right: 2px solid #bb1bed;
    border-bottom: 2px solid #605fc0;
    border-radius: 50%;
    top: 0;
    right: 25px;
    position: absolute;
}

#activity-stream .activity .coin {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    bottom: 2px;
    left: 20px;
}

#activity-stream .activity .prize {
    position: absolute;
    top: -5px;
    max-height: 87px;
    max-width: 87px;
}

#activity-stream .activity .items {
    bottom: 2px;
    right: 25px;
    color: white;
}

#activity-stream .activity .upgrade-arrows {
    background-image: url("/Template/Static/Image/upgrade_arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 5px;
    top:5px;
    right: 5px;
    bottom: 5px;
}

.coin {
    background-size: cover;
}

.coin.t {
    background-image: url("../Image/coin_t.png");
}

.coin.ct {
    background-image: url("../Image/coin_ct.png");
}

.title-band {
    text-align: center;
    background-color: #ffcc00;
    height: 32px;
    padding: 2px;
    color: #0b0b0b;
    font-size: 19px;
}

#jackpot-participations {
    background-color: #0b0b0b;
}

#jackpot-participations .items-scroller {
    overflow: hidden;
    width: 100%;
    height: 95px;
    position: relative;
}

#jackpot-participations .items-scroller .left-arrow,
#jackpot-participations .items-scroller .right-arrow {
    position: absolute;
    font-size: 10px;
    padding-left: 4px;
    line-height: 1.3;
    background-color: #ffcc00;
    color: #0b0b0b;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-top: 40px;
    cursor: pointer;
}

#jackpot-participations .items-scroller .left-arrow {
    left: 5px;
}

#jackpot-participations .items-scroller .right-arrow {
    right: 5px;
    top: 0;
}

#jackpot-participations .items-scroller .items {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 125px;
    margin-left: 2.5%;
    width: 95%;
    white-space: nowrap;
}

#jackpot-participations .items-scroller .items .item {
    display: inline-block;
    margin: 0 6px;
    font-size: 0.8em;
    color: white;
    position: relative;
    height: 95px;
    width: 95px;
    border-top: solid lightgray 2px;
    background-color: #111;
}

#jackpot-participations .items-scroller .items .item img {
    width: 95px;
}

#jackpot-participations .items-scroller .items .item .price {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-weight: bolder;
}

#jackpot-participations .users {
    height: 96px;
}

#jackpot-participations .users .user {
    margin: 0 5px;
    display: inline-block;
    height: 96px;
    width: 76px;
    position: relative;
}

#jackpot-participations .users .user.color-1 {
    background-color: #F80000;
}

#jackpot-participations .users .user.color-2 {
    background-color: #24715E;
}

#jackpot-participations .users .user.color-3 {
    background-color: #439E00;
}

#jackpot-participations .users .user.color-4 {
    background-color: #fc1dca;
}

#jackpot-participations .users .user.color-5 {
    background-color: #004BF5;
}

#jackpot-participations .users .user.color-6 {
    background-color: #9600FF;
}

#jackpot-participations .users .user.color-7 {
    background-color: #00C54F;
}

#jackpot-participations .users .user.color-8 {
    background-color: #21F0C0;
}

#jackpot-participations .users .user.color-9 {
    background-color: #F4530B;
}

#jackpot-participations .users .user.color-10 {
    background-color: #FFCC00;
}

#jackpot-participations .users .user.color-11 {
    background-color: #167EFF;
}

#jackpot-participations .users .user.color-12 {
    background-color: #3CDE0A;
}

#jackpot-participations .users .user.color-13 {
    background-color: #F2075A;
}

#jackpot-participations .users .user.color-14 {
    background-color: #CA430E;
}

#jackpot-participations .users .user.color-15 {
    background-color: #1591AB;
}

#jackpot-participations .users .user.color-16 {
    background-color: #601098;
}

#jackpot-participations .users .user.color-17 {
    background-color: #2D5796;
}

#jackpot-participations .users .user.color-18 {
    background-color: #B99E06;
}

#jackpot-participations .users .user.color-19 {
    background-color: #980202;
}

#jackpot-participations .users .user.color-20 {
    background-color: #4509A8;
}

#jackpot-participations .users .user:hover img {
    opacity: 0;
}

#jackpot-participations .users .user .percentage {
    position: absolute;
    width: 76px;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 0.8em;
}

#jackpot-participations .users .user .price {
    position: absolute;
    top: 0;
    left: 0;
    width: 76px;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 20px;
}

#jackpot-participations .users .user img {
    width: 76px;
    transition: opacity 0.2s;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

#jackpot-info {
    background-color: #0b0b0b;
    color: white;
}

#jackpot-info #nb-items-deposited-container {
    font-size: 1.2em;
    float: left;
}

#jackpot-info #prize-pool-container {
    font-size: 1.2em;
    float: right;
}

#jackpot-info .progress-bar {
    height: 14px;
}

.progress-bar {
    width: 100%;
    background-color: #111;
}

.progress-bar .progress {
    color: #0b0b0b;
    border-radius: 0;
    background-color: #ffcc00;
    height: 100%;
    font-size: 0.65em;
    transition: width 0.2s;
}

#chat-container {
  position: fixed;
  right: 0;
  top: 0;
  height: calc(100vh - 62px);
  max-height: calc(100vh - 62px);
  overflow: hidden;
  background-color: transparent;
}

#chat-header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(to right, #272727 , #212121);
    z-index: 20;
    padding: 5px;
    box-sizing: border-box;
}

#chat-header #chat-header-online {
    color: #fff;
    line-height: 16px;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
}
#chat-header #chat-header-online img {
    width: 8px;
}

#chat-header-online {
  position: absolute;
  top: 0;
  right: 16px;
}

#form-send-message {
  position: fixed;
  border: 0;
  right: 8px;
  bottom: 0;
}



#form-send-message>div {
  background: #242424;
}

#form-send-message #input-message {
    border: 0px solid #1e2023;
    resize: none;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    padding: 13px;
    background-image: linear-gradient(to right, #1f2227, #121316);
    border-radius: 6px;
}

.input-send-msg{
  position: absolute;
  top: 15px;
  right: 25px;
  width: 20px;
  cursor: pointer;
}

#chat-container .message {
    padding: 3px 7px;
    color: #aaa;
    position: relative;
}

#chat-container .message.message_admin {
    background-color: #e74c3c;
    padding: 9px 12px;
}

#chat-container .message.message_broadcast {
    padding: 9px 12px;
}

#chat-container .message a {
    color: white;
}

#chat-container .message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    border-left: 2px solid #4673b3;
    border-top: 2px solid #a02fe0;
    border-right: 2px solid #bb1bed;
    border-bottom: 2px solid #605fc0;
}

.avatar-parent {
  float: left;
  width: 45px;
  text-align: center;
  text-transform: uppercase
}

#chat-container .message .level {
    margin: 0 7px 0 0;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 2px;
}

#chat-container .message .rank {
    position: absolute;
    background-size: contain;
    width: 25px;
    height: 25px;
    left: 18px;
    top: 7px;
}

#chat-container .message .rank.rank1 {
    background-image: url("../Image/rank1.png");
}

#chat-container .message .rank.rank2 {
    background-image: url("../Image/rank2.png");
}

#chat-container .message .rank.rank3 {
    background-image: url("../Image/rank3.png");
}

#chat-container .message .rank.rank4 {
    background-image: url("../Image/rank4.png");
}

#chat-container .message .rank.rank5 {
    background-image: url("../Image/rank5.png");
}

#chat-container .message .rank.rank6 {
    background-image: url("../Image/rank6.png");
}

#chat-container .message .content {
    float: left;
    width: calc(100% - 50px);
    margin-left: 5px;
    font-size:14px;
    border-radius: 6px;
    background-color: #2b2d33;
}

.level-white {
  display: block;
  line-height: 1;
  font-size: 11px;
  text-align: center;
}

#chat-container .message .content .msg-content a:hover {
    text-decoration: none;
}

.msg-content{
    word-wrap: break-word;
}

.info-box {
    text-align: center;
    color: white;
    border: solid #ffcc00 2px;
    width: 75%;
    margin: 2px auto;
}

.info-box a {
    color: white;
}

.jackpot-tab {
    border: solid #ffcc00 2px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 10px 12px;
    text-align: center;
    display: block;
    color: white;
    letter-spacing: 0.02em;
    padding: 5px 7px;
    background: url("../Image/button_wave.png") repeat-x 0 -100%;
    transition: all 1s ease-out !important;
    text-decoration: none;
}

.jackpot-tab:hover {
    color:white;
    text-decoration: none;
}

.jackpot-tab.active {
    background-position: 100% 55%;
    color: #101010;
    text-decoration: none;
}

#coinflip-info {
    color: white;
    background-color: #0b0b0b;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    line-height: 2;
    font-size: 1.2em;
}

#coinflip-info .avatar {
    width: 40px;
    height: 40px;
    border: solid #ffcc00 1px;
    border-radius: 50%;
}

#coinflip-info #create-coinflip {
    display: inline-block;
    width: 100%;
    color: white;
    padding: 8px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid #ffcc00 2px;
}

#coinflip-stats-table {
    width: 100%;
}

#coinflip-stats-table td {
    padding: 10px;
    text-align: center;
}
#coinflip-stats-table td:last-child {
    border-right: none;
}

#coinflip-stats-table tr {
    padding: 10px;
}

#coinflip-stats-table .button-wave {
    width: 100%;
}

#coinflip-stats-biggest-avatar {
    border-radius: 50%;
    border-left: 2px solid #4673b3;
    border-top: 2px solid #a02fe0;
    border-right: 2px solid #bb1bed;
    border-bottom: 2px solid #605fc0;
}
.coinflip-stats{
    margin: 0 auto;
    display: block;
}

.coinflip-stats img{
    width: 50px;
}

.stats-value{
    font-size: 25px;
}

#coinflips-list {
    width: 100%;
    color: white;
    line-height: 1;
}

#coinflips-list th {
    font-weight: normal;
    text-transform: uppercase;
}

#coinflips-list td {
    padding: 5px;
    text-align: center;
}

#coinflips-list tr:nth-child(odd) td {
    background-color: rgba(25, 27, 29, .5);
}

 #gamers-table tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, .3);
}
#coinflips-list tr:nth-child(odd) td:first-child {
    border-right: solid #ffffff 1px;
}

#coinflips-list:nth-child(odd) tr {
    border: 2px solid rgb(43, 45, 51);
}

#coinflips-list .player {
    width: 38px;
    height: 38px;
    position: relative;
    float: left;
    margin-left: 15px;
    font-size: 18px;
}

#coinflips-list .player .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
}

#coinflips-list .player .coin {
    position: absolute;
    right: -3px;
    bottom: -3px;
    width: 16px;
    height: 16px;
}

#coinflips-list .item {
    max-width: 70px;
    max-height: 70px;
}

#coinflips-list .total-value {
    font-weight: bold;
    font-size: 18px;
}

#coinflips-list .value-needed {
    font-size: 12px;
}

#coinflips-list a {
    color: white;
    text-transform: uppercase;
}

#coinflips-list a:hover {
    color: #ffcc00;
}

.join span,
.in-progress span,
.waiting span{
    width: 140px;
    color: #242426;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 6px;
    border: 2px solid #262626 !important;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s ease-out !important;
}

.join span{
  background: -webkit-linear-gradient(to right, #a9f841, #48f861);
  background: -moz-linear-gradient(to right, #a9f841, #48f861);
  background: -o-linear-gradient(to right, #a9f841, #48f861);
  background: linear-gradient(to right, #a9f841, #48f861);
  background-size:140px 280px;
  background-position: 0px;
}
.in-progress span{
  background: -webkit-linear-gradient(to right, #F7424B, #F8419B);
  background: -moz-linear-gradient(to right, #F7424B, #F8419B);
  background: -o-linear-gradient(to right, #F7424B, #F8419B);
  background: linear-gradient(to right, #F7424B, #F8419B);
  background-size:140px 280px;
  background-position: 0px;
}
.waiting span{
  background: -webkit-linear-gradient(to right, #F5DB02 , #9B8307);
  background: -moz-linear-gradient(to right, #F5DB02 , #9B8307);
  background: -o-linear-gradient(to right, #F5DB02 , #9B8307);
  background: linear-gradient(to right, #F5DB02 , #9B8307);
  background-size:140px 280px;
  background-position: 0px;
}
.join span:hover,
.in-progress span:hover,
.waiting span:hover {
  background-position: 140px;
}

.join:hover,
.waiting:hover,
.in-progress:hover {
    text-decoration: none;
}

.modal {
    color: white;
}

.modal .modal-content {
    background-color: #242426;
}

.modal .modal-header {
    text-transform: uppercase;
    border: none;
}

.modal .modal-header .close {
    position: absolute;
    top: 5px;
    right: 0;
    margin: 0 20px 5px auto;
    padding: 0;
    font-size: 32px;
    color: white;
    z-index: 10;
}

.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}

#deposit-modal .modal-dialog,
#upgrade-market-modal .modal-dialog {
    width: 1072px !important;
    max-width: 1072px !important;
}

#deposit-modal .items-value {
    line-height: 87px;
}

#deposit-modal #confirm-deposit {
    float: right;
    padding: 7px 10px;
    margin: 22px 30px 0 20px;
    border: solid #3e9a4f 2px;
    border-radius: 6px;
    color: white;
    line-height: initial;
}

#deposit-modal #confirm-deposit:hover{
    text-decoration:none;
    color: #ffcc00;
}

#deposit-modal #confirm-deposit.disabled {
    cursor: not-allowed;
    border-color: gray;
}

#deposit-modal .items {
    max-height: 600px;
    overflow-y: auto;
    text-align: justify;
}

#deposit-modal .items .items-container {
    padding: 0 0 0 41px;
    text-align: center;
}

#deposit-modal .item {
    display: inline-block;
    position: relative;
    width: 125px;
    height: 125px;
    margin: 10px 20px 40px 20px;
    cursor: pointer;
    float: left;
    border-radius: 6px;
    background-color: #2A2C2B;
    border-top: 2px solid #c7ae04 !important;
    border-right: 2px solid #917908 !important;
    border-bottom: 2px solid #c7ae04 !important;
    border-left: 2px solid #ffe400 !important;
}
#deposit-modal .item.deposit-disabled,
#deposit-modal .item.disabled {
    filter: blur(2px);
    cursor: default;


}

#deposit-modal .item.selected {
    background-color: #191b1d;
    border-left: solid #ffcc00 1px;
    border-right: solid #ffcc00 1px;
    border-top: solid #ffcc00 1px;
}

#deposit-modal .item .exterior {
    width: 100%;
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 0;
    left: 0;
}

#deposit-modal .item .weapon {
    position: absolute;
    left: 5px;
    bottom: 17px;
    font-size: 13px;
}

#deposit-modal .item .name {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    font-size: 13px;
    display: inline-block;
    text-align: center;
}

#deposit-modal .item .value {
    position: absolute;
    font-size: 13px;
    bottom: 3px;
    width: 125px;
    text-align: center;
}

#deposit-modal .item img {
    max-width: 100%;
    max-height: 100%;
}

#deposit-modal .info-selected {
    position: relative;
    height: 75px;
    width: 100%;
    margin: 0;
}

.table-yellow {
    color: white;
    width: 100%;
}

.table-yellow tbody{
    background-color: rgba(36, 35, 35, .7);
}

.table-yellow tr {
    border-bottom: solid #ffcc00 2px;
}

.table-yellow th {
    text-transform: uppercase;
}

.table-yellow td {
    padding: 5px;
    line-height: 3;
}

.table-yellow .avatar {
    width: 50px;
    height: 50px;
    border: solid #ffcc00 1px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    float: left;
}

.table-yellow .rank {
    width: 31px;
    height: 31px;
    background-size: contain;
    float: left;
    margin: 10px 5px;
    display: inline-block;
}

.table-yellow .rank.level1 {
    background-image: url("../Image/rank1.png");
}

.table-yellow .rank.level20 {
    background-image: url("../Image/rank2.png");
}

.table-yellow .rank.level40 {
    background-image: url("../Image/rank3.png");
}

.table-yellow .rank.level60 {
    background-image: url("../Image/rank4.png");
}

.table-yellow .rank.level80 {
    background-image: url("../Image/rank5.png");
}

.table-yellow .rank.level100 {
    background-image: url("../Image/rank6.png");
}

.game-selector {
    text-align: center;
}

.game-selector a {
    margin: 10px;
    padding: 10px 5px;
    border-radius: 25px;
    border: solid #ffcc00 2px;
    text-transform: uppercase;
    background-color: #0b0b0b;
    color: white;
    display: inline-block;
    min-width: 150px;
}

.jackpot-row {
    position: relative;
}

.wheel-container {
    color: white;
    font-size: 2em;
}

.wheel-container #wheel {
    display: block;
    width: 100%;
    cursor: auto;
}

.wheel-container .info-wheel {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.button-wave {
    text-transform: uppercase;
    color: #262626;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

#update-trade-url {
    display: inline-block;
    margin-top: 30px;
    text-transform: uppercase;
    color: white;
    padding: 7px 30px;
    border: solid #ffcc00 2px;
    border-radius: 6px;
}

.pagination > li > span {
    color: white;
}
.min-depo {
    display: block;
    text-align: center;
    font-size: 18px;
}
.min-depo:hover{text-decoration: none}

.jackpot-winner {
    opacity: 1;
    transition: opacity ease 0.5s;
    text-align: center;
}

.jackpot-winner.hidden {
    opacity: 0;
}

.jackpot-winner .avatar {
    width: 90px;
    height: 90px;
    border: solid 1px;
    border-radius: 50%;
}

.jackpot-winner .winner-text {
    padding: 0 7px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    top: -7px;
}

#coinflip-animated-winner-coin {
    position: absolute;
    top:-20px;
    left: calc(50% - 90px);
    text-align: center;
}

#coinflip-animated-winner-coin img {
    width: 180px;
    height: 180px;
}

.coinflip-coin {
    position: absolute;
    top: 20px;
    left: calc(50% - 50px);
    text-align: center;    transform-style: preserve-3d;
}

.coinflip-coin .front {
    transform: translateZ(1px);
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.coinflip-coin .back {
    transform: translateZ(-1px) rotateY(180deg);
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

#coinflip-modal .bg-dark {
    background-color: #0b0b0b;
}

#coinflip-modal table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

#coinflip-modal .coinflip-market-name {
    font-size: 15px;
    word-wrap: break-word;
}

#coinflip-modal .player {
    transition: opacity 0.5s ease;
    position: relative;
    padding-bottom: 20px;
}

#coinflip-modal .player.p1 {
    text-align: right;
}

#coinflip-modal .player.p2 {
    text-align: left;
}

#coinflip-modal .player.hidden {
    opacity: 0;
}

#coinflip-modal .player .avatar {
    height: 100px;
    width: 100px;
    text-align: center;
}

#coinflip-modal .player .coin {
    position: absolute;
    height: 48px;
    width: 48px;
}

#coinflip-modal .player.p1 .coin {
  bottom: 4px;
  right: -24px;
}

#coinflip-modal .player.p2 .coin {
    bottom: 4px;
    left: -24px;
}

#coinflip-modal .coinflip-player-1-name a, #coinflip-modal .coinflip-player-2-name a {
    text-align:center;
    display:block;
    margin-bottom: 10px;
    font-size: 22px;
    color: #fff;
}

#coinflip-modal .coinflip-player-2-name a:hover{
    color: #ffcc00 !important;
    text-decoration: none;
}

#coinflip-modal .item td:nth-child(3) {
    background-color: #212122;
    padding-left: 15px;
}

#coinflip-modal .item img {
    max-width: 80px;
    max-height: 80px;
}

#coinflip-modal .coinflip-info {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.choose-side {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 25px;
    font-weight: bold;
}

.choose-side .side {
    width: 70px;
    height: 70px;
    padding: 3px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border: solid transparent 1px;
}

.choose-side .side.selected {
    border: solid #ffcc00 2px;
}

.modal-header {
    display: block;
    position: relative;
}

.jackpot-footer {
    width: 75%;
    position: fixed;
    color: white;
    font-size: 14px;
    text-align: center;
    bottom: 0;
    background-color: rgba(0,0,0, 0.3);
}


/* UPGRADE */

#upgrade-deposit-container, #upgrade-market-container {
    display:block;
    background-color: #242323;
    width: 100%;
    max-width: 300px;
    min-height: 202px;
    position:relative;
    cursor: pointer;
    border-top:2px solid #c6ac04;
    border-right: 2px solid #8d7609;
    border-bottom: 2px solid #c6ac04;
    border-left: 2px solid #ffe400;
}

.upgrade-select-text {
    background-color: #191919;
    color: white;
    text-align: center;
    width: 240px;
    position: absolute;
    top: 40px;
    left: calc(50% - 120px);
    padding: 4px;
    border-radius: 3px;
}

.upgrade-select-image {
    position: absolute;
    background: url("/Template/Static/Image/karambit.png") no-repeat 50% 0;
    background-size: contain;
    width: 240px;
    height: 120px;
    top: 52px;
    left: calc(50% - 120px);
}

.upgrade-select-totalprice {
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
}

.upgrade-deposit-item {
    width: calc(33% - 10px);
    height: 90px;
    margin: 5px;
    float: left;
    position: relative;
}

.upgrade-deposit-item-image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
}

.upgrade-deposit-item-price {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align:center;
    font-size: 12px;
    color: white;
    font-weight:bold;
}

#upgrade-market-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#upgrade-market-item-image img {
    height: 200px;
    width: 200px;
}

#upgrade-result {
    display:block;
    height: 170px;
    text-align: center;
    overflow:hidden;
}

#upgrade-result img {
    width: 170px;
    height: 170px;
}

#upgrade-result img.animated {
    width: 300px;
    height: 300px;
    position: relative;
    top: -60px;
}

#upgrade-button-continue {
    text-align: center;
    display:block;
    margin-top: 7px;
}

#upgrade-button-continue a {
    padding: 5px 50px;
    border-top: 2px solid #c7ae04 !important;
    border-right: 2px solid #917908 !important;
    border-bottom: 2px solid #c7ae04 !important;
    border-left: 2px solid #ffe400 !important;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 12px;
}

.upgrade-box {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.upgrade-box #upgrade-box-header .col a, .upgrade-box #upgrade-box-header .col span {
    display:block;
    color: white;
    cursor: pointer;
    text-align: center;
    border: 1px solid #606060;
    padding: 0;
    margin-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}
.upgrade-box-withdraw{
    padding: 3px 10px 3px 10px !important;
    margin: 10px 0px;
    font-size: 12px;
    border-radius: 6px;
    background-color: #2e2b2b;
    border-top: 2px solid #77f852 !important;
    border-right: 2px solid #a8f841 !important;
    border-bottom: 2px solid #77f852 !important;
    border-left: 2px solid #41f864 !important;
}

.upgrade-box-deposit{
    padding: 3px 10px 3px 10px !important;
    margin: 10px 0px;
    font-size: 12px;
    border-radius: 6px;
    background-color: #2e2b2b;
    border-top: 2px solid #c7ae04 !important;
    border-right: 2px solid #917908 !important;
    border-bottom: 2px solid #c7ae04 !important;
    border-left: 2px solid #ffe400 !important;
}
.upgrade-box #upgrade-box-header .col a:hover, .upgrade-box #upgrade-box-header .col span:hover {
    border: 1px solid #ffcc00;
    color: #ffcc00;
}

#upgrade-box-submit img {
    width: calc(100% - 50px);
}

#upgrade-withdraw-history-title {
    display:block;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px 0;
}

#upgrade-market-search {
    float: left;
    background-color: #191919;
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: white;
    width: 300px;
    padding: 3px 10px;
}

#upgrade-market-modal .item .item-bordered {
    position: relative;
    border-radius: 6px;
    background-color: #2A2C2B;
    border-top: 2px solid #c7ae04 !important;
    border-right: 2px solid #917908 !important;
    border-bottom: 2px solid #c7ae04 !important;
    border-left: 2px solid #ffe400 !important;
    height: 125px;
}
#upgrade-market-modal .item {
    display: inline-block;
    position: relative;
    width: 125px;
    margin: 10px 20px 0 20px;
    cursor: pointer;
    float: left;
}

#upgrade-market-modal .item .name {
    display: inline-block;
    font-size: 13px;
    width: 100%;
    text-align: center;
}

#upgrade-market-modal .item .value {
    position: absolute;
    font-size: 13px;
    bottom: 3px;
    width: 100%;
    text-align: center;
}

#upgrade-market-modal .item img {
    max-width: 100%;
    max-height: 100%;
}

#upgrade-market-items {

}

/* STANDARD ITEM */
.standard-item {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    background-color: #0b0b0b;
    border: 1px solid #0b0b0b;
    border-bottom-color: lightgray;
    margin: 5px;
    float: left;
}

.standard-item .standard-item-name {
    position: absolute;
    left: 5px;
    bottom: 3px;
    font-size: 13px;
    width: 100px;
}

.standard-item .standard-item-price {
    position: absolute;
    right: 5px;
    font-size: 13px;
    line-height:13px;
    bottom: 2px;
}

.standard-item .standard-item-image {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}

.standard-item .standard-item-image img {
    width: 100%;
    height: 100%;
}

.emptyRow {
    height: 30px;
}
#gamers-table {
  width: 100%;
  font-size: initial;
}
#gamers-table .avatar {
  width: 75px;
  height: 75px;
  margin: 7px 7px 7px 12px;
}
#gamers-table .item {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 10px;
  background-color: #191b1d;
}

#gamers-table .item .price {
  font-weight: bold;
}
#gamers-table .items-ticket{
    font-size: 18px;
    width: 260px;
    text-align: right;
    padding: 10px;
}

#gamers-flow-section {
  height:80px;
  margin-bottom:30px;
}
#gamers-flow {
  position: relative;
  height: 60px;
  text-align: center;
}
#gamers-pin {
  position: relative;
  height: 20px;
  text-align: center;
  font-size: 25px;
  color: #ffe400;
}
.gamer-avatar, .user-avatar {
  height: 100%;
  margin: 0 10px;
}
.gamer-avatar {
  width: 84px;
}
#testProgress {
  margin-top: 20px;
  height:10px;
  background-color: #000;
}
.yellowBG {
  height:10px;
  width:0;
  background-color: #fc0;
}
.winner-box {
  position: absolute;
  width: 90px;
  height: 90px;
  z-index: -1;
  left: calc(50% - 45px);
  bottom: calc(100% + 27px);
  border: 2px solid #fc0;
}
#yellow-bg {
  position: absolute;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  top: -60px;
  background: transparent;
  left: calc(50% - 30px);
  box-shadow: 0px 0px 40px #ffcc00;
}
.hidden {
  display: none;
}
.avatars {
  overflow: hidden;
  width: 948px;
  margin: 0 auto;
}
.pot_roll_avatars {
  padding: 30px 0;
  text-align: center;
}

.left-items, .right-items {
    width: 50%;
    z-index: 2;
}
.left-items div {
    float: left;
}
.right-items div {
    float: right;
}
.left-items .items-value:first-child {
    margin-right: 30px;
    margin-left: 30px;
}
.timer-starting {
  margin: auto;
}
#gamers-table tr td:first-child {
    position: relative;
}
#gamers-table tr:nth-child(odd):not(:first-child) td:first-child:after {
    content: '';
    position: absolute;
    height: 103px;
    width: 1px;
    bottom: calc(50% + 38px);
    background-color: #798092;
    left: 50%;
}
#gamers-section {
  overflow: hidden;
}