.steam-item {
    position: relative;
    border: 1px solid #D2D2D2;
    background-color: #292929;
    display: block;
    margin: 2px;
    padding: 5px;
    float: left;
    border-radius: 4px;
    cursor: pointer;
}

.steam-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.steam-item .steam-item-price {
    position: absolute;
    bottom: 3px;
    left: 4px;
    right: 4px;
    text-align: center;
    background-color: #292929;
    color: #D2D2D2;
    border-radius: 4px;
    font-size: 12px;
}