body {
    overflow-y: scroll;
}

.content-container {
    padding: 0 10px;
}

.center-block {
    text-align: center;
}

.table-borderless tr, .table-borderless th, .table-borderless td {
    border-color: transparent !important;
}

.table-marginless {
    margin-bottom: 0;
}

.table-smallpadding td {
    padding: 4px !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.btn-margin {
    margin: 10px;
}

textarea {
    resize: none;
}

.panel.panel-tabs .panel-heading {
    padding: 5px 5px 0 5px;
}

.panel.panel-tabs .nav-tabs {
    border-bottom: none;
}

.panel.panel-tabs .nav-justified {
    margin-bottom: -1px;
}

.panel-tabs.panel-default .nav-tabs > li > a,
.panel-tabs.panel-default .nav-tabs > li > a:hover,
.panel-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}

.panel-tabs.panel-default .nav-tabs > .open > a,
.panel-tabs.panel-default .nav-tabs > .open > a:hover,
.panel-tabs.panel-default .nav-tabs > .open > a:focus,
.panel-tabs.panel-default .nav-tabs > li > a:hover,
.panel-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}

.panel-tabs.panel-default .nav-tabs > li.active > a,
.panel-tabs.panel-default .nav-tabs > li.active > a:hover,
.panel-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}

.panel-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}

.panel-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.panel-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}

.panel-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.panel-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.panel-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

@media (min-width: 768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar {
        width: 250px;
        margin-right: 0;
        margin-left: 0;
        height: 100%;
        position: fixed;
        border-radius: 0;
        overflow-y: auto;
    }

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header {
        float: none !important;
    }

    .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
    }

    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }

    .content-wrapper {
        display: block;
        overflow: hidden;
        margin-left: 250px;
        position: relative;
    }

    .content-container {
        padding: 10px;
    }

    .content-container {
        max-width: 1170px;
    }
}