<div class="panel panel-default">
    <div class="panel-heading">Jackpot History</div>
    <div class="panel-body">
        {pagination_ajax(string("/admin/jackpot/ajaxhistory/", $userID))}
    </div>
</div>