<div class="panel panel-default">
    <div class="panel-body">
        <div class="center-block">
            This user owns a referral url (<a href="/admin/referral/stats/{$referral.id}">See Statistics</a>)
        </div>
    </div>
</div>